@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'latobold';
  font-weight: normal;
  text-transform: capitalize;
}
h2{font-size: 28px;}
h4{font-size: 20px;}
.h1-title{
  font-size: 24px;
  text-transform: uppercase;
}
.h4-title{
  font-family: 'Arial';
  font-size: 16px;
  font-weight:bold;
}
.h3-title{
  font-size: 18px;
}

body
{
	font-family: 'Arial';
	font-size:14px;
	color:#333;
	background: url(../images/header.png) top no-repeat #f6f6f6;
}
header {
	width: 100%;
	height: auto;
	background: transparent;
}
.brand{
	display: block;
	padding: 21px 45px;
  float: left;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.sm-nav{
  margin: 90px 10px 0;
  list-style: none;
  float: right;
}
.sm-nav > li {
  float: left;
}
.sm-nav > li > a{
  margin: 5px 20px;
  padding: 0;
  font-size: 20px;
  color: #666;
}
.sm-nav > li > a:hover{
  text-decoration: none;
}
.navbar-blue {
  margin: 0;
  background-color: #344558;
  border-color: #344558;
  border-radius: 0;
}
.navbar-nav > li > a{
  padding: 15px 35px;
  font-family:'latobold';
  font-size: 20px;
  color: #fff;
  line-height: 28px;
}
.navbar-nav > li > a:hover{
  background: none;
}
.navbar-nav > li > form{
  padding: 15px 35px;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
}
.nv-rt{
  width: 360px;
}
.mb-label{
  display: inline-block;
  padding: 5px 10px;
  font-family:'latobold';
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
.mb-search{
  display: inline-block;
  margin: 10px 0;
  width: 260px;
  height: 38px;
  color: #fff;
  background: #5fb4f6;
  border: 1px solid #5fb4f6;
  border-radius: 0;
}

.jumbotron{
  margin: 0; 
  height: 448px;
  background: url('../images/silder_img01.jpg') no-repeat;
  border-radius: 0 !important;
}
.jumbotron h1{
  margin-top: 80px;
  font-size: 28px;
}
.jumbotron p {
  font-family:'latobold';
}
.carousel-caption-tag {
  position: absolute;
  right: 10%;
  top: 80px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.h1-carousel{
  font-size: 28px;
}
.h2-carousel{
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}
.carousel-control.left, .carousel-control.right {
  background: none;
  opacity: 1;
}
.carousel-control .caro_ctrl_black {
  color: #000;
}

.section_white{
  padding:10px;
  background: #fff;
}
.section_blue{
  padding:10px;
  color: #fff;
  background: #344558;
}
.section_bg{
  padding:10px;
  min-height: 420px;
  color: #000;
  background: url("../images/npchain.jpg") right center no-repeat #fff;
  background-size: contain;
}
.bg_img{

}
.col-md-4-pad{
  margin: 20px;
}
.round_image{
  display: block;
  margin: 0 auto;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  border: 8px solid #5fb4f6;
}
.xt-bd-pad{
  margin: 30px 20px 40px;
  padding: 15px 0;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}
.tag-pos{
  margin: 100px 20px;
}
.btn-pos{
  margin: 170px 20px 0;
}
.btn-gray{
  color: #fff;
  text-transform: uppercase;
  background-color: #525252;
  border-color: #525252;
  border-radius: 0;
}
.btn-gray:hover{
  color: #fff;
  text-decoration: none;
}

.footer-top{
  padding: 10px;
  color: #fff;
  background: #9BA3AE;
}
.footer-pad {
  margin: 20px 50px;
}
.footer-top ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.blue-icon{
  display: inline-block;
  padding: 3px 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  background: #5FB4F6;
}
.footer_blue{
  padding:10px;
  color: #fff;
  background: #344558;
}
.footer_blue a{
  display: block;
  margin: 25px 50px;
  color: #fff;
}


.navbar-toggle {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #344558;
}
.navbar-collapse{
	margin-top:0;
  padding: 0;
}




@media only screen and (min-width: 321px) and (max-width: 538px) {
  .sm-nav {
    display: none;
  }
  .mb-label{
    float: none;
    display: none;
  }
  .no-fl{
    clear: both;
    float: none !important;
  }
  .navbar-search{
    margin: 5px 30px;
  }
  .mb-search{
    margin: 0;
    width: 100%;
  }
  .carousel-caption-tag {
    top: 0;
    padding: 0px;
  }
  .h1-carousel {
    font-size: 16px;
  }
  .h2-carousel {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
  }
  .tag-pos{
    margin: 0;
    text-align: center;
  }
  .btn-pos{
    margin: 210px 20px 0;
    text-align: center;
  }
  .footer-pad {
    margin: 20px 20px;
  }
  .footer_blue a{
    margin: 25px 20px;
  }
}