
@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'latobold';
  font-weight: normal;
  text-transform: capitalize;
}
h2{font-size: 28px;}
h4{font-size: 20px;}

body
{
	background:#fff;
	font-family: 'Arial' !important;
	font-size:14px;
	color:#333;
}
header {
	width: 100%;
	height: auto;
	background: url(../img/sky.jpg) no-repeat;
}
.header_logo {
	width: 100%;
	height: 110px;
}
.logo {
	float: left;
	padding: 10px 0;
}
.menu {
	float: right;
	padding-top: 75px;
	width: 500px;
	height: 30px;
}
.menu ul {
	margin: 0;
	padding: 0;
	float: right;
}
.menu li {
	float: left;
	list-style: none;
	position: relative;
	padding-left:13px;
}

.menu li img{ padding-left:5px; position:relative; top:0px;}
.menu li a {
	font-size: 20px;
	font-family: 'latobold';
	color: #fff;
	text-decoration: none;
	padding-left: 15px;
}
.menu li i {
	padding-right: 5px;
}
.menu li div.menu_container {
	position: absolute;
	top: 35px;
	left: 0;
	width: 260px;
	padding: 25px;
	height: auto;
	overflow: hidden;
	background: #67b5f2;
	display: none;
	z-index: 1;
}
.menu li:last-child .menu_container{ left:-100px;}
.menu_container input[type=text] {
	width: 90.5%;
}
.menu_container input[type=button] {
	padding: 6px 10px;
	font-size: 18px;
}
.menu_container ul {
	float: left;
	width: 100%;
}
.menu_container ul li {
	float: none;
	width: 100%;
	border-bottom: 1px solid #5192d2;
	padding: 10px 0;
}
.menu_container ul li:hover{ background:#5192d2;}
.menu_container ul li a {
	padding-left: 0;  font-size:16px; padding-left:10px;
}
.short_menu{ padding-left:30px; float:left; padding-top:75px;}
.short_menu ul {
	margin: 0;
	padding: 0;
	float: right;
}
.short_menu li {
	float: left;
	list-style: none;
	position: relative;
}
.short_menu li a {
	font-size: 20px;
	font-family: 'latobold';
	color: #fff;
	text-decoration: none;
	padding-left: 25px;
}
.search {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5px 0 15px;
	display: none;
	position:relative;
}
.search input[type=text] {
	width: 100%; 
	text-align:left;
  padding: 8px;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-family: 'latobold';
  color: #999;

}
.search .fa-search {
  position: absolute;
  font-size: 24px;
  top: 10px;
  right: 15px;
  color: #67b5f2;
}






.top_bar
{
	background:url("../img/sky.jpg") no-repeat center top;
	padding:8px 0;
	margin-bottom: 40px;
	background-size:cover 100%;
}
.top_icons
{
	color:#fff;
}
.top_icons li > a
{
	display:inline-block;
}
.top_icons li > a .fa
{
	font-size:32px;
	vertical-align:middle;
}
.top_icons li .collapsed li a
{
	color:#fff;
	font-size:16px;
}
.top_icons li .collapsed li a:hover
{
	color:#fff;
	text-decoration:none;
}
.top_icons li .collapsed li
{
	list-style-type:none;
	text-transform:capitalise;
	padding: 5px 0 5px 7px;
}
.top_icons .online_drop.collapsed li:hover,.top_icons .ben_drop.collapsed li:hover {
    background: none repeat scroll 0 0 #5192d2;
    
}
.top_icons li .collapsed li:last-child
{
	margin-bottom:0px;
}
.navbar-nav > li > a{
	/*font-size:16px;*/
    font-family: 'latobold';
    font-weight: normal;

}
.search_bar
{
	height:0px;
	opacity:0;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.search_bar.collapsed.pressed
{
	opacity:1;
	height:auto;
	padding-top:10px;
}
.login_drop
{
	height:0px;
	opacity:0;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.login_drop.collapsed.pressed
{
	opacity:1;
	height:auto;
	visibility:visible;
}
.online_drop.collapsed.pressed li
{
	border-bottom:1px solid #5192d2;
	
	margin:0 0 10px 0;
}

.online_drop
{
	height:0px;
	opacity:0;
	-webkit-transition: opacity .5s ease-in-out;
	 -moz-transition: opacity .5s ease-in-out;
       -o-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out;
}
.online_drop.collapsed.pressed
{
	opacity:1;
	height:auto;
	visibility:visible;
}

.ben_drop.collapsed.pressed li
{
	border-bottom:1px solid #5192d2;
	margin:0 0 10px 0;
}

.ben_drop
{
	height:0px;
	opacity:0;
	-webkit-transition: opacity .5s ease-in-out;
	 -moz-transition: opacity .5s ease-in-out;
       -o-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out;
}
.ben_drop.collapsed.pressed
{
	opacity:1;
	height:auto;
	visibility:visible;
}
.search_bar input[type="text"]
{
	height:36px;
	padding-left:44px;
	font-size:16px;
	font-weight:bold;
	border-radius:0px;
	box-shadow:none;
	border:none;
}
.search_field
{
	position:relative;
}
.search_field .fa-search
{
	position:absolute;
	font-size:24px;
	top:5px;
	right:10px;
	color:#67b5f2;
}
.button
{
	color:#00aeef;
	height:36px;
	border-radius:0px;
	border:none;
	font-size:27px;
	line-height:27px;	
	max-width:160px;
	width:100%;
}

.advance_search a
{
	padding-right:5px;
	font-size:14px;
	color:#fff;
	text-shadow:0 0 3px rgba(0,0,0,0.5);
}

.login_drop
{
	margin:0px;
	padding:0px;
	position:absolute;
	background:#67b5f2;
	padding:20px;
	max-width:300px;/*320px*/
	width:100%;
	left:0px;
	top:45px;/*72px*/
	z-index:999;
	visibility:hidden;
	transition:visibility 0.5s ease;
	font-size:16px;
}
.login_drop li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

#login_drop li {
    border-bottom: 1px solid rgb(81, 146, 210);
    float: none;
    padding: 10px;
}
#login_drop li:hover {
		background:#5192d2;
}

.nohover {
    border: none !important;
}
.nohover:hover {
    background: none !important;
}

.search_bar .col-md-2.col-sm-3, .search_bar .advance_search {
    display: none;
}
.search_bar .col-md-10 {
    width: 100%;
}
.login_drop li .form-control
{
	border:none;
	border-radius:0px;
	height:36px;/*42px*/
	color:#000;
	font-size:18px;
	text-align:center;
	/*extras*/
	width:90%;
	margin-left:5%;
}
.online_drop
{
	margin:0px;
	padding:0px;
	position:absolute;
	background:#67b5f2;
	padding:20px;
	max-width:220px;/*320px*/
	width:100%;
	right:0px;
	top:45px;/*72px*/
	z-index:999;
	visibility:hidden;
	transition:visibility 0.5s ease;
	font-size:16px;
}
.ben_drop
{
	margin:0px;
	padding:0px;
	position:absolute;
	background:#67b5f2;
	padding:20px;
	max-width:270px;/*320px*/
	width:100%;
	right:0px;
	top:45px;/*72px*/
	z-index:999;
	visibility:hidden;
	transition:visibility 0.5s ease;
	font-size:16px;
}

.login_box
{
	margin:0px;
	padding:0px;
	background:#67b5f2;
	padding:20px;
	max-width:320px;
	width:100%;
	z-index:999;
	margin:0 auto;
}
.login_box hr
{
	border-top:solid 1px #5192d2;
	margin-top:15px;
	margin-bottom:15px;
}
.login_box li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.login_box li .form-control
{
	border:none;
	border-radius:0px;
	height:36px;/*42px*/
	color:#000;
	font-size:18px;
	text-align:center;
	/*extras*/
	width:90%;
	margin-left:5%;
}

.lgn_btn
{
	height:36px;/*42px*/
	text-align:center;
	border:none;
	background:#5192d2;/*f8930f*/
	border:solid 1px #5192d2;/*cc3c3c*/
	width:100%;
	font-size:18px;
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	/*extras*/
	width:90%;
	margin-left:5%;
}
.lgn_btn:hover
{
	background:#67b5f2;/*bc3232*/
	border:solid 1px #5192d2;/*a02a2a*/
}
.reg_btn
{
	height:36px;/*42px*/
	text-align:center;
	border:none;
	background:#67b5f2;/*f8930f*/
	border:solid 1px #5192d2;/*cc3c3c*/
	width:100%;
	font-size:17px;
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	/*extras*/
	width:90%;
	margin-left:5%;
}
.reg_btn:hover
{
	background:#5192d2;/*5bc323*/
	border:solid 1px #5192d2;/*a02a2a*/
}
.login_headings
{
	text-align:center;
	color:#333;
	font-family: 'latobold';
	margin:20px 0 0 0;
	font-size:18px;
}
.login_headings h2
{
	font-family: 'latobold';
 	margin:0 0 10px 0;
	padding:0px;
	font-size:28px;
	line-height:normal;
	text-transform:capitalize;
}

.box_in_subhead_mrgn
{
	margin-left:5%;
}

.panel-group .panel-heading
{
	position:relative;
	padding-right:44px;
}
.panel-group .panel-heading a:hover, .panel-group .panel-heading a:focus {
  text-decoration:none;
}
.panel-group .panel-heading a:after {
  content: "\f068";
  position: absolute;
  right: 15px;
  top:10px;
  font-family: 'FontAwesome';
}
.panel-group .panel-heading a.collapsed:after {
  content: "\f067"; 
}

footer
{
	background:#b9d3ed;
	color:#2176d0;
	font-family: 'latobold';
	margin:30px 0 0 0;
	font-size:16px;
}
footer > .container{
	padding-top:30px;
	padding-bottom:30px;
}
footer h4 {
    margin: 0 0 20px;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 1px solid;
	}
footer ul{
	margin:0;
	padding:0;
	list-style:none;
}
footer ul li {
    margin-bottom: 9px;
}
.footer-btm{
	background:#5192d2;
	width:100%;
	padding:20px 0;
	color:#fff;
}
.footer-btm a{
	color:#fff;
}
.footer-btm a:hover{
	color:#5192d2;
	text-decoration:none;
}
.social-links a {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    float: left;
    font-size: 20px;
    height: 30px;
    margin-right: 15px;
    text-align: center;
    width: 30px;
}


/*------------------Start 21 March CSS-----------------*/
.mrgn_rgt5
{
	margin-right:5px !important;
}
.gray_text
{
	color:#000;
}
.pro_pic
{
	background:#6ab5f1;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-khtml-border-radius:50%;
	width:84px;
	height:84px;
	line-height:74px;
	text-align:center;
	vertical-align:middle;
	font-size:36px;
	color:#fff;
}
.btn1,.btn2
{
	font-size: 14px;
    height: 30px;
    padding: 0 16px;
	text-align:center;
	border:none;
	background:#6ab5f1;/*f8930f*/
	/*border:solid 1px #5192d2;*//*cc3c3c*/
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	/*extras*/
	
}
.btn1:hover,.btn2:hover
{
	background:#5192d2;/*bc3232*/
	/*border:solid 1px #6ab5f1;*//*a02a2a*/
}
/*.btn2
{
	font-size: 14px;
    height: 30px;
    padding: 0 20px;
	text-align:center;
	border:none;
	background:#5192d2;/*f8930f*/
	/*border:solid 1px #6ab5f1;*//*cc3c3c
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;*/
	/*extras
	
}*/
.btn2:hover
{
	/*background:#6ab5f1;bc3232*/
	/*border:solid 1px #5192d2;*//*a02a2a*/
}
.heading
{
	font-size:18px;
	text-transform:capitalise;
	margin:0 0 10px 0;
}
.tab_collapse_master
{
	margin-top:0px !important;
}
.tab_collapse_master .nav-tabs > li
{
	float:none;
	display:inline-block;
	transition: all 0.4s ease 0s;
}
.tab_collapse_master .nav-tabs > li:hover {
    transform: scale(1.1);
}
.tab_collapse_master .nav-tabs
{
	text-align:center;
	margin-bottom:30px;
}
.tab_collapse_master .tab-content > .tab-pane hr, .tab_collapse_master .panel-body hr
{
	margin:10px 0;
}

.ordr_list
{
	margin:0px;
	padding:0px 0 0 15px;
	list-style-type:square;
}

/*------------------End 21 March CSS-----------------*/

/*------------------Start 21 March CSS-----------------*/
.mrgn_none
{
	margin:0px;
}
.mrgn_btm20
{
	margin-bottom:20px !important;
}
.mrgn_btm30
{
	margin-bottom:30px !important;
}
.mrgn_tp_btm30
{
	margin-top:30px !important;
	margin-bottom:30px !important;
}
.tab_outer
{
	border:solid 1px #6ab5f1;
	padding:30px;
}

.tab_outer_line
{
	border-right:solid 1px #6ab5f1;
	/*min-height:210px;*/
	padding-right:30px;
}

.border_box
{
	border-right:solid 1px #6ab5f1;
	min-height:210px;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.tp_search_sec
{
	padding:0px 0 15px 0;
	background:#6ab5f1;
	color:#fff;
	margin:0 0 40px 0;
	font-size:18px;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*------------------End 21 March CSS-----------------*/

@media (min-width: 768px) and (max-width: 991px) {
	
	.tab_outer_line
	{
		border-right:none;
		min-height:100%;
	}
}

@media screen and (max-width: 767px) 
{
	.search_field
	{
		margin-bottom:10px;
	}
	.top_bar
	{
		background:url("../img/sky.jpg") no-repeat scroll center center / cover ;
	}
	.tab_collapse_master .panel-group
	{
		padding:0 15px;
	}
	.tab_outer
	{
		padding:0px;
		border:none;
	}
	.tab_outer_line
	{
		border-right:none;
		min-height:100%;
	}
}


/*************************************** NEW PAGES *******************************************/
.heading {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 50px;
  text-transform: capitalize;
}
.heading span {
  font-size: 18px;
  display: block;
  text-transform: none;
}
.heading_icon {
  width: 50%;
  height: auto;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
  text-transform: capitalize;
}
.heading_icon span {
  font-size: 18px;
  display: block;
  text-transform: none;
}
p{font-size: 16px;}
.rows{clear: both;}
.blue-panel {
  border: 1px solid #5192d2;
  margin-top: 30px;
}
.blue-panel-heading {
  padding: 15px;
  background: #67b5f2;
}
.blue-panel-title {
	margin: 0;
	padding: 0;
  font-size: 20px;
  color: #fff;
}
.bd_right {border-right: 1px solid #5192d2;}
.bd_bottom {border-bottom: 1px solid #5192d2;}
.th-ee {
  padding: 0 25px;
  height: 600px;
}
.th-eea {
  padding: 0 25px;
  height: 400px;
}
.th-eec {
  padding: 0 5px;
  height: 650px;
}
.th-ee h4, .th-eea h4, .th-eec h4 {font-size: 20px; margin: 25px 0;}
.pd-left {padding-left: 25px;}
.pd-right {padding-right: 25px;}
.tb_icon_box{
	margin: 20px 0;
}
.tb_icon_box_half{
	margin: 10px 0;
	width: 45%;
	float: left;
	margin-right: 10%;
}
.tb_icon_box_half2{
	margin: 10px 0;
	width: 45%;
	float: left;
}
.tb_icon_box33{
	margin: 10px 0;
	width: 30%;
	float: left;
	margin-right: 10%;
}
.tb_icon_box332{
	margin: 10px 0;
	width: 30%;
	float: left;
}
.icon_box {
  width: 100%;
  height: 120px;
  padding: 40px 0;
  background: #b9d3ed;
  text-align: center;
  position: relative;
}
a.icon_footer {
	display: block;
  	padding: 10px;
  	font-size: 16px;
  	color: #fff;
  	background: #5192d2;
	text-decoration: none;
}
a.icon_footer_arrow {
	display: block;
  	padding: 10px;
  	font-size: 16px;
  	color: #fff;
  	background: url(../images/white_ico_text2.png) right center no-repeat #5192d2;
	text-decoration: none;
}
.icon_footer_plain {
	display: block;
  	padding: 10px;
  	color: #000;
  	text-align: center;
  	text-decoration: none;
}
.smLabel {
	float: right;
	margin: 0 20px;
	padding: 0 5px;
	color: #fff;
	background: #000;
}
.psLabel {
	float: right;
	margin: 0 20px;
	padding: 0 5px;
	color: #fff;
	background: #000;
	position: absolute;
	bottom: 5px;
	right: -15px;
	font-size: 16px;
}
.white_ico_main_small {
  width: 120px;
  height: auto;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
  float: left;
}
.white_ico_main {
  width: 196px;
  height: auto;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
}
.white_ico {
  width: 100%;
  height: 100px;
  padding-top: 30px;
  background: #b9d3ed;
  text-align: center;
}
.white_ico_text {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.crc_t {
  margin: 0 40px;
  font-size: 18px;
  padding: 20px 0;
}
.crc_down {
  margin: 0 40px;
  height: 53px;
  width: auto;
  border-top: 1px solid #5192d2;
  font-size: 22px;
  line-height: 50px;
}
.circ_main {
  width: 400px;
  margin: auto;
  padding: 20px;
  height: 144px;
}
.circ_main .crc {
  width: 120px;
  height: 120px;
  padding-top: 30px;
  font-size: 45px;
  border-radius: 50%;
  background: #5192d2;
  text-align: center;
  font-family: 'Arial';
  color: #fff;
  float: left;
}
.circ_main .crc_text {
  float: left;
  color: #5192d2;
  font-family: 'Arial';
  font-size: 22px;
  font-style: italic;
  padding: 30px;
}
.circ_main .crc_text_lg {
  float: left;
  color: #5192d2;
  font-family: 'Arial';
  font-size: 28px;
  font-style: italic;
  padding: 40px 30px;
}
.filter-parent {
  position: relative;
  font-size: 18px;
  margin: 20px;
}
.filter-parent label {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #5daeef;
}
.filter-parent input[type=text] {
  text-align: left;
  border: 1px solid #999;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 0;
  padding-left: 33px;
  width: 100%;
}
.back_to_top {
  float: right;
  font-size: 16px;
  font-family: 'latobold';
  color: #fff;
  cursor: pointer;
}
/*-----*/
.header_section {
  padding: 50px 0 20px 0;
}
.header_section_border {
  padding: 50px 0 20px 0;
  border-bottom: 1px solid #5192d2;
}
.ls_box {
  padding-left: 50px;
}
.rs_box {
  padding-right: 50px;
}
.pd_top_20 {
  padding-top: 20px;
}
.btn_link a {
  padding: 10px 50px;
  width: auto;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Arial';
  color: #fff;
  text-decoration: none;
  background: #5192d2;
  border: 1px solid #5192d2;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.aside_left select {
  padding: 8px;
  width: 100%;
  outline: 0;
  font-size: 18px;
  font-family: 'Arial';
  border: 1px solid #999999;
  border-radius: 0;
  cursor: pointer;
  color: #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/arrowSe.jpg) center right no-repeat;
}
.aside_left label.control-label {
	display: inline;
}
.table thead {
	font-size: 16px;
}
.table tbody {
	font-size: 14px;
}
.table > tbody > tr > td { vertical-align: middle;}
.btn-main {
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 0;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-main:hover,
.btn-main:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
/* Pagination */
.cd-pagination {
	width: 100%;
	padding: 0;
	text-align: center;
}
.cd-pagination li {
	display: inline-block;
	margin: 0 2px;
}
.cd-pagination li.np-button {
	display: inline-block;
}
.cd-pagination a, .cd-pagination span {
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px 14px;
	font-size: 14px;
	font-family: 'latobold';
	text-decoration: none;
}
.cd-pagination a {
	color: #5192d2;
	border: 1px solid #5192d2;
	border-radius: 0;
}
.cd-pagination a:hover {
	background-color: #5192d2;
	color: #fff;
}
.cd-pagination a:active {
	/* click effect */
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.cd-pagination a.disabled {
	/* button disabled */
	color: rgba(46, 64, 87, 0.4);
	pointer-events: none;
}
.cd-pagination a.disabled::before, .cd-pagination a.disabled::after {
	opacity: .4;
}
.cd-pagination .current {
	/* selected number */
	background-color: #5192d2;
	border-color: #5192d2;
	color: #ffffff;
	pointer-events: none;
}
/******/
.border-panel {
	border: 1px solid #5192d2;
}
.cp-box {
	margin: 20px 0;
	padding: 0 30px;
	min-height: 240px;
}
.cp-box h4 {
	font-size: 20px;
}
.ed-title-btn {
	margin-left: 20px; 
	padding: 1px 15px;
  border: 0;
  width: 100%;
  border-radius: 3px;
  font-size: 18px;
  font-family: 'Arial';
  color: #fff;
  background: #5192d2;
  border: 1px solid #5192d2;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.ed-title-btn:hover{
	color: #fff;
	text-decoration: none;
  background-color: #6ab5f1;
}
.frm-single-line {
	margin: 5px 0;
	padding: 20px 30px;
}
.frm-single-line h4 {
	color: #5192d2;
}
input[type=text] {
  text-align: left;
  border: 1px solid #999;
  padding-top: 8px;
  padding-bottom: 8px;
}
input[type=password] {
  text-align: left;
  border: 1px solid #999;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text-parent {
  position: relative;
  font-size: 18px;
}
.text-parent label {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #5daeef;
}
.text-parent input[type=text] {
  text-align: left;
  border: 1px solid #999;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 33px;
  padding-left: 10px;
  width: 100%;
}
.label {
  font-size: 18px;
  color: #5192d2;
}
.btn-secondary {
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 18px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
.pd-head{padding: 50px 0 20px 0;}
.sm_circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #67b5f2;
  text-align: center;
  color: #fff;
}
.sm_circle_center {
  padding-top: 25px;
  display: block;
}
.heading-title {margin-left: 20px;}
.th-e {padding: 0 25px;}


/*---- Modal ----*/
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
#small-dialog {
  background: white;
  padding: 20px 80px;
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}
.small-dialog {
  background: white;
  padding: 20px 80px;
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}
.full-dialog {
  background: white;
  padding: 20px;
  text-align: left;
  max-width: 90%;
  margin: 40px auto;
  position: relative;
}
/**
* Fade-move animation for second dialog */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
opacity: 1;
-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
opacity: 0;

-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
opacity: 0;

-webkit-transition: opacity 0.3s ease-out; 
-moz-transition: opacity 0.3s ease-out; 
-o-transition: opacity 0.3s ease-out; 
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
opacity: 0;
}

.modalForm{
	padding: 30px 0;
}
.modalForm label.dark {
  color: #999;
  background: url(../images/radio.jpg) no-repeat 5px 15px;
}
.modalForm label {
  position: relative;
  top: 0px;
  font-family: 'Arial';
  font-size: 16px;
  color: #5192d2;
  text-align: left !important;
  display: block;
}
.modal_check label {
  font-size: 18px;
  font-family: 'Arial';
  border: 1px solid #999;
  width: auto;
  padding: 10px 10px;
  padding-left: 50px;
  top: 12px !important;
  cursor: pointer;
  background: url(../images/radio.jpg) no-repeat 10px 5px;
}
.modal_check input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
.modal_checked {
	background: url(../images/radio2.jpg) no-repeat 10px 15px !important;
}
.modalForm textarea {
  text-align: left;
  border: 1px solid #999;
  min-height: 140px;
  width: 97%;
}
.modalForm input[type=text] {
  text-align: left;
  border: 1px solid #999;
}
.modalForm input[type=button] {
  padding: 10px 0;
  width: 50%;
}
.modalForm .row {
	padding-top: 16px; 
}
.modal_wraper {margin: auto; width: 100%;}
.modal_left_side {margin: auto;}
.modal_left_side .form-group {margin:0;}
.modal_left_side select{
  padding: 8px;
  width: 80%;
  outline: 0;
  font-size: 18px;
  font-family: 'Arial';
  border: 1px solid #999999;
  border-radius: 0;
  cursor: pointer;
  color: #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/arrowSe.jpg) center right no-repeat;
}
.modalct_line {
	width: 70%;
	padding: 25px 30px;
}
.modalst_line {
	width: auto;
	float: left;
}
.modalst_line {margin: 30px 0;}

.modalct_line h3 {
	margin-top: 0;
	padding-top: 0;
}
.sorting {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
}
.sort select {
  margin: 0;
  border: 0;
  outline: 0;
  width: 160px;
  font-size: 16px;
  font-family: 'Arial';
  cursor: pointer;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/arrowSeBlk.jpg) center right no-repeat;
}
.jb_outer_line {
  margin-bottom: 20px;
  min-height: 1px;
  border: solid 1px #5192d2;
}
.search-button{margin: 20px 0;}
#searchwithbutton {
  margin: 0;
  width: 60%;
}
.lt4_line {
  width: 241px;
}
.md_line6 {
  width: 120px;
  padding: 20px 0;
  background: #b9d3ed;
  font-size: 16px;
  color: #fff;
  background: #5192d2;
  font-family: 'Arial';
  text-decoration: none;
}
.md_line6a {
  border-right: solid 1px #6ab5f1;
}
.md_line6b {
  border-bottom: solid 1px #6ab5f1;
}
.md_icon {
  display: block;
  font-size: 26px;
}



/* 15may */
.tlt-head{margin: 20px 0;}
.tlt-heading{
  text-align: center;
  color: #333;
  font-family: 'Arial';
  margin: 20px 0 0 0;
  font-size: 18px;
}
.head_filled {
	padding: 15px;
  border-bottom: 1px solid #5192d2;
}
.head_filled h3 {
	margin:0;
	padding: 15px 0;
	font-size: 20px;
	color: #000;
}
.refrence {
  line-height: 45px;
  float: right;
  width: 100%;
  text-align: center;
  background: #67b5f2;
  border: 1px solid #67b5f2;
  height: 50px;
  border-radius: 5px;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  transition: background 1s;
}
.refrence a {
	color: #fff;
	text-decoration: none;
	font-family: 'Arial';
	font-size: 20px;
	padding: 10px;
}
.refrence:hover {
	cursor: pointer;
	background: #5192d2;
	-webkit-transition: background 1s;
  	-moz-transition: background 1s;
	transition: background 1s;
}

.black_ico_box {
  margin: 15px 0;
}
.black_ico {
  width: 100%;
 /* height: 100px;*/
  padding-top: 30px;
  text-align: center;
}
.black_ico_text {
    padding-bottom: 30px;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
.caro_circ {
  margin: 0 auto;
  padding: 20px 0;
  width: 90px;
}
.caro_circ .crc {
  width: 120px;
  height: 120px;
  padding-top: 30px;
  font-size: 45px;
  border-radius: 50%;
  background: #5192d2;
  text-align: center;
  font-family: 'Arial';
  color: #fff;
}
.carousel-control.left, .carousel-control.right {
  background:none;
  opacity: 1;
}
.carousel-control .caro_ctrl_black {
	color: #000;
}
.carousel-control .caro_ctrl_black:hover {
	color: #000;
}
.crc_title{
	font-size: 24px;
}
.crc_sub-title{
	font-size: 16px;
}
.crc_edit{
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  font-size: 16px;
  color: #5daeef;
  display: block;
}
.circliful {
  position: relative;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.no-gutter{
	margin-left: -15px;
	margin-right: -15px;
}
.right-gutter{
	margin-right: -10px;
}
.pd-top-bottom{
	padding-top: 30px;
	padding-bottom: 30px;
}
.td_base{
	margin: 0;
	padding: 0;
}
.tb_cont {
	margin:0;
  padding:0;
}
.bd-right{
	border-right: 1px solid #5daeef;
}
.bd-bottom{
	border-bottom: 1px solid #5daeef;
}
.jc_circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #67b5f2;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.jc_circle_center {
  padding-top: 20px;
  display: block;
}
.jc_box {
  margin: 20px 0;
  float: left;
}
#form-contact label{
  font-family: 'Arial';
  font-size: 16px;
  color: #333;
  margin: 0;
  font-weight: normal;
}
input[type=text] {
	height: auto;
	color: #000;
}
input[type=password] {
  height: auto;
	color: #999;
}
.form-ctrl{
	color: #000;
	border: 1px solid #999;
}
.re_check{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	border-bottom: 0;
}
.re_check label {
  font-size: 18px !important;
  font-family: 'Arial';
  border: 1px solid #999;
  border-bottom: 0;
  width: 100%;
  padding: 10px 10px;
  padding-left: 50px;
  cursor: pointer;
  background: url(../images/radio.jpg) no-repeat 10px 5px;
}
.re_check:last-child label{
	border-bottom: 1px solid #999;
}
.re_check input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  top: 0;
}
.re_checked {
  background: url(../images/radio2.jpg) no-repeat 10px 5px !important;
}
.btn-send {
	display: block;
  margin: 0 auto;
  width:50%;
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 18px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-send:hover,
.btn-send:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
.blog_content {
  min-height: 1px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5192d2;
}
.blog_content p{
	line-height: 1.6;
	margin: 18px 0;
}
.picture {
  margin: 10px 0;
  width: 100%;
}
.img_caption {
  padding: 14px 0;
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #5192d2;
}
.blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 30px 60px;
  margin: 0 0 20px;
  position: relative;
  border-bottom: 1px solid #5192d2;
  border-left: 0;
}
.blockquote:before {
  content: "\201C";
  font-size: 102px;
  position: absolute;
  left: -13px;
  top: -13px;
  font-style: italic;
}
.blockquote p {
  margin: 0 !important;
  font-size: 22px;
  text-align: justify;
  font-style: italic;
}
video {
  width: 100% !important;
  height: auto !important;
}
.sp_box h3{
	font-size: 18px;
}
.filterby legend{
	margin: 20px 0;
	padding: 0;
	font-size: 16px;
	border: 0;
}
.selectbox {
  text-align: left;
  color: #000;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  background: url(../images/sele.jpg) center right 16px no-repeat;
  border: 1px solid #999;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.quickFilter {
  position: relative;
  font-size: 18px;
}
.quickFilter label {
  position: absolute;
  left: 30px;
  top: 8px;
  color: #5daeef;
}
.quickFilter input[type=text]{
	padding-left: 40px;
	color: #999;
}
.dtl_panel {
  border: 1px solid #5192d2;
  margin-top: 20px;
}
.dtl_content{
	margin: 0;
	padding: 30px 0 30px 35px;
}
.dtl_content h2{
	font-size: 26px;
	margin-top: 0;
	margin-bottom:20px; 
}
.dtl_content h3{
	font-size: 20px;
	margin-top: 0;
	margin-bottom:20px;
}
.dtl_text{
	width: 82%;
	float: left;
  border-right: 1px solid #5192d2;
}
.dtl_list{
	margin: 0;
	padding: 30px 20px;
}
.dtl_list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.dtl_list ul li{
	margin: 0;
	padding: 4px 0;
	font-size: 18px;
	display: -webkit-box;
}
.dtl_img{
	position: absolute;
	top: 0;
	right: 0;
  width: 20%;
  height: 100px;
  padding-top: 15px;
  background: #b9d3ed;
  text-align: center;
}
.dtl_tab_wt{
	margin: 0;
	padding: 10px 0;
	width: 17%;
	float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  background: #fff;
}
.dtl_tab{
	margin: 0;
	padding: 61px 20px;
  font-size: 16px;
  color: #000;
  text-align: center;
  background: #fff;
  border-left: 1px solid #6ab5f1;
}
.dtl_tab i, .dtl_tab_wt i{
	display: block;
	font-size: 26px;
}
.dtl_tab a, dtl_tab a:hover{
	color: #000;
}
.dtl_tab_wt a, dtl_tab_wt a:hover{
	color: #000;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.img-responsive-margin{
	margin: 0 auto;
}
.paging{
	margin-top: 30px;
}

//.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  /* padding-left: 25px; */
  margin-right: 15px;
  font-size: 13px;
}
//.radio label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: -5px;
  border: 1px solid #999;
}
//.radio label:before {
  border-radius: 9px;
}
.radio input[type=radio]:checked + label:before {
  content: "\2022";
  color: #999;
  font-size: 28px;
  text-align: center;
  line-height: 17px;
}
//.radio input[type=radio] {
  display: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-bottom: 1px solid #ddd;
  padding: 8px 0 ;
}
.addon-custom {
  padding: 6px 30px;
  color: #fff;
  background-color: #5192d2;
  border: 1px solid #999;
  border-radius: 0;
}
.imgcaptcha {
  width: 100%;
  height: 40px;
}
.refresh {
  float: right;
  position: relative;
  top: -28px;
  right: 8px;
  height: 18px;
  cursor: pointer;
}
input[type="checkbox"].agree {
  margin: 4px 0 0 -20px !important;
}
.btn-confirm {
  display: block;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 18px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-confirm:hover,
.btn-confirm:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
.qr_legend{
	margin: 0;
	padding: 0;
	font-size: 14px;
	border: 0;
}
.notify_parent{
	position: relative;
}
.notify{
	position: absolute;
	top: -20px;
	right: -10px;
	width: 28px;
	height: 28px;
	font-size: 20px;
	color: #fff;
	background: orange;
	border-radius: 14px;
}

/* .skills_box {
  width: auto;
  height: auto;
  overflow: hidden;
  border: 1px solid #5192d2;
} */
/* .skills_box .hear {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  padding-left: 20px;
  background: url(../images/right_sk.png) center right no-repeat #5192d2;
} */
.sk-table .col-xs-2, .sk-table .col-xs-1, .sk-table .col-xs-3{
	font-size: 16px;
	border-top: 1px solid #ccc;
}
.b_head{
	margin: 0;
	padding: 12px 0;
}
.b_bg{
	margin: 0;
	padding: 12px 0;
	color: #fff;
	background: #5192d2;
}
.sk-grp{
	margin-bottom: 15px;
}
.btn-flat{
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 18px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-flat:hover,
.btn-flat:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
.dtl_h3{
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 22px;
	font-weight: bold;
}
.dtl_ct p{
	line-height: 23px;
}
.clear{
	clear: both;
}
.dtl_tab-b{
	margin: 0;
	padding: 30px 20px;
  font-size: 16px;
  color: #000;
  text-align: center;
  background: #fff;
  border-left: 1px solid #6ab5f1;
}
.dtl_tab-b i{
	display: block;
	font-size: 26px;
}
.dtl_tab-b a, dtl_tab-b a:hover{
	color: #000;
}
.dtl_tab-b:first-child{
	border-bottom: 1px solid #6ab5f1;
}
.addon-front-custom {
  padding: 6px 7px;
  color: #5192d2;
  background-color: #fff;
  border: 1px solid #999;
  border-right: 0;
  border-radius: 0;
}
.addon-front-input{
	padding-left: 28px;
	background: transparent;
}
.input_label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #5192d2;
  font-size: 16px;
}
.input-group .form-control {
  color: #999;
}
.dtl_form{
	padding: 20px 35px;
	border-top: 1px solid #5192d2;
}

.form-control{
	font-size: 16px;
}
.realperson-challenge { 
	display: inline-block; 
	width:100%; 
	text-align:center; 
}


/*****26may******/
.border-panel{
  border: 1px solid #5192d2;
  margin-top: 20px;
  padding: 20px 0;
}
.links_jss {
  padding: 0;
  width: auto;
  line-height: 20px;
}
.links_jss a {
  font-size: 15px;
  background: #7f7f7f;
  color: #fff;
  padding: 3px 10px;
  float: left;
  border-radius: 3px;
  margin: 5px 0;
  margin-right: 3px;
}
.links_bd{
	min-height: 70px;
}
.bp-min-height{
	min-height: 130px;
}
.md-left{
	margin-left: 10px;
}
.bds_panel {
  border: 1px solid #5192d2;
  margin-bottom: 20px;
}
.sortings {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}
.result-pop{
	font-size: 16px;
}
.dtf_h3 {
  margin: 0 0 4px 15px;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
}
.blue-panel-hpe h3{
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  padding-left: 20px;
  background: #5192d2;
}
.bp-hpe{
	padding: 20px 30px;
}
.pp_text {
  padding: 8px;
  outline: 0;
  width: 100%;
  font-size: 16px;
  color: #999;
  border: 1px solid #999;
}
.tbl_panel{
  padding: 10px 0;
  border-bottom: 1px solid #5192d2;
}
.btn-rd-cor{
  display: block;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 3px;
  padding: 5px 20px;
  line-height: 22px;
  font-size: 18px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-rd-cor:hover,
.btn-rd-cor:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
.tbl-user, .tbl-name, .tbl-mo-button{
	font-size: 16px;
	color: #000;
	line-height: 34px;
}
.skl_btx{
  margin: 0;
  padding: 24px 20px;
}
.f-label {
  font-family: 'Arial';
  font-size: 16px;
  color: #333;
  margin: 0;
  font-weight: normal;
}
.btn-edt {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  background-color: #5192d2;
  border: 1px solid #5192d2;
  border-radius: 0;
}
.btn-edt:hover,
.btn-edt:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}
.bd-blue-panel {
  margin: 10px 0;
  height: 290px;
  border: 1px solid #5192d2;
}
.bd-blue-panel-scroll {
  margin: 10px 0;
  height: 290px;
  border: 1px solid #5192d2;
  overflow-y: scroll;
}
.skl-bt {
	display: inline-block;
	position: relative;
  padding: 9px 12px;
  width: 100%;
  font-size: 16px;
  background: #7f7f7f;
  color: #fff;
}
.skl-bt:hover {
  color: #fff;
  text-decoration: none;
}
.skl-btl {
	display: inline-block;
	position: relative;
	margin: 4px 0;
  padding: 2px 12px;
  width: 100%;
  font-size: 16px;
  color: #000;
}
.skl-btl:hover {
  color: #000;
}
.mrg-tp{
	margin-top: 130px;
}
button.plus {
  width: 23px;
  height: 23px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: url(../images/plus.png) no-repeat;
  position: absolute;
  right: 36px;
  top: 10px;
  left: inherit;
  z-index: 999;
}
.quickEntryFilter {
  position: relative;
  font-size: 18px;
}
.quickEntryFilter label {
  position: absolute;
  right: 30px;
  top: 10px;
  color: #5daeef;
}
.quickEntryFilter input[type=text]{
	/*  padding-left: 20px;*/
	color: #999;
}
.jdcTitle{
	font-size: 18px;
}
.jdcList{
	font-size: 16px;
}
.jdcList ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.jdcList ul li{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.pl-sp{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 30%;
}
.cl-sp{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 60%;
}
.tl_legend {
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: 0;
}
.ep_circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #67b5f2;
  text-align: center;
  color: #fff;
  font-size: 26px;
}
.ep_circle_center{
  padding-top: 30px;
  display: block;
}
.ht-h2{
	margin: 0;
}
.ht-tlt-heading{
	font-size: 16px;
}

.slider-val {
  color: #acacac;
  display: block;
  margin: 10px 0;
}
button.merge {
  width: 24px;
  height: 24px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: url(../images/mrg.png) no-repeat;
  position: absolute;
  right: 22px;
  top: 12px;
  left: inherit;
  z-index: 999;
}
button.remove {
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  cursor: pointer;
  outline: 0;
  background: #fff;
  position: absolute;
  right: 36px;
  bottom: -13px;
  left: inherit;
  z-index: 999;
}
.mgb{
	margin-bottom: 10px;
}
.add_your_image {
  width: 100%;
  height: 120px;
  background: #b9d3ed;
  font-size: 20px;
  padding: 30px;
}
.add_logo {
  height: 120px;
  padding-top: 30px;
  background: #5192d2;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.tbl-sw-button {
	width: 42%;
	float: left;
}
.tbl-lst-button { 
/* 	margin-left: 10px; */
}
.tbl-trash-button {
  display: block;
  color: #000;
  background-color: #fff;
  border:0;
  border-radius: 0;
  padding: 3px 6px;
  line-height: 22px;
  font-size: 28px;
}
.mglft-rgt{
	margin-left: 10px;
	margin-right: 0;
}
.landing_content p, .error_content p, .error_content p a {
  line-height: 1.6;
  margin: 18px 0;
}
.tlm-heading {
  text-align: center;
  color: #333;
  font-family: 'Arial';
  margin: 20px 0;
  font-size: 18px;
}
.caro_circ .crc-m {
	display: block;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.notify-plus{
	width: 23px;
	height: 23px;
	background: url('../images/plus.png');
	border-radius: 0;
}
.notify-left{
	left: -10px;
}
.qf-margin{
	margin: 15px 0;
}
.qa-margin{
	margin: 15px;
}
.a-link-arrow {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: url(../images/white_ico_text2.png) right center no-repeat #5192d2;
  text-decoration: none;
}
.a-link-arrow:hover, .a-link-arrow:focus {
  color: #fff;
  text-decoration: none;
}
.bd-min-right {
  border-right: 1px solid #5daeef;
  min-height: 372px;
}
.blc-panel-heading {
  padding: 15px;
}
.blc-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #000;
}
.md-auto{
	margin: 0 auto;
	float: none;
}

.mg5{
	margin: 5px 0;
}
.mg10{
	margin: 10px 0;
}
.box_edit_logo-a{
	border: 0;
	width: 100%;
	height: 70px;
	background: #747474;
}
.box_edit_logo{
	border: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	text-align: center;
	line-height: 70px;
}
.box_edit_logo a{
	color: #000;
  	background: #fff;
  	padding: 10px;
}
















/***** 5 grid column ******/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}












.col-small{
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/*
@media (min-width:320px) and (max-width: 370px) {
	.online_drop, .ben_drop {
    	position: absolute;
    	top:112px;
    }
}
@media (min-width:370px) {
	.online_drop, .ben_drop {
    	position: absolute;
    	top:60px;
    }
}
@media (min-width:450px) {
	.online_drop, .ben_drop {
    	position: absolute;
    	top:60px;
    }
}
@media (max-width:600px) {
	.online_drop, .ben_drop {
    	position: absolute;
    	top:45px;
    }
}*/
@media screen and (max-width: 450px) {
    .dtl_tab{
		margin: 0;
		padding: 30px 20px;
	}
	.table>thead>tr>th, .table>tbody>tr>td{
		font-size: 12px;
	}
}
@media screen and (max-width: 550px) {
    .dtl_tab{
		margin: 0;
		padding: 30px 20px;
	}
}
@media (min-width: 768px) {
    .col-small {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-small {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-small {
        width: 20%;
        float: left;
    }
}


