@import url('style-vin.css');


.lgn_btn
{
	padding: 5px 0;
	height:36px;/*42px*/
	text-align:center;
	border:none;
	background:#5192d2;/*f8930f*/
	border:solid 1px #5192d2;/*cc3c3c*/
	width:100%;
	font-size:18px;
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	/*extras*/
	width:90%;
	margin-left:5%;
	display: block;
}
.lgn_btn:hover
{
	background:#67b5f2;/*bc3232*/
	border:solid 1px #5192d2;/*a02a2a*/
	text-decoration: none;
	color: #fff;
}
.reg_btn
{
	padding: 5px 0;
	height:36px;/*42px*/
	text-align:center;
	border:none;
	background:#67b5f2;/*f8930f*/
	border:solid 1px #5192d2;/*cc3c3c*/
	width:100%;
	font-size:17px;
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	/*extras*/
	width:90%;
	margin-left:5%;
	display: block;
}
.reg_btn:hover
{
	background:#5192d2;/*5bc323*/
	border:solid 1px #5192d2;/*a02a2a*/
	text-decoration: none;
	color: #fff;
}
.login_headings
{
	text-align:center;
	color:#333;
	font-family: 'latobold';
	margin:20px 0 0 0;
	font-size:18px;
}
.login_headings h2
{
	font-family: 'latobold';
 	margin:0 0 10px 0;
	padding:0px;
	font-size:28px;
	line-height:normal;
	text-transform:capitalize;
}

.box_in_subhead_mrgn
{
	margin-left:5%;
}

.panel-group .panel-heading
{
	position:relative;
	padding-right:44px;
}
.panel-group .panel-heading a:hover, .panel-group .panel-heading a:focus {
  text-decoration:none;
}
.panel-group .panel-heading a:after {
  content: "\f068";
  position: absolute;
  right: 15px;
  top:10px;
  font-family: 'FontAwesome';
}
.panel-group .panel-heading a.collapsed:after {
  content: "\f067"; 
}

/*------------------Start 21 March CSS-----------------*/
.mrgn_rgt5
{
	margin-right:5px !important;
}
.gray_text
{
	color:#999;
}
.pro_pic
{
	background:#6ab5f1;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-khtml-border-radius:50%;
	width:84px;
	height:84px;
	line-height:74px;
	text-align:center;
	vertical-align:middle;
	font-size:36px;
	color:#fff;
}
.btn1,.btn2
{
	font-size: 14px;
    height: 30px;
    padding: 0 16px;
	text-align:center;
	border:none;
	background:#6ab5f1;/*f8930f*/
	/*border:solid 1px #5192d2;*//*cc3c3c*/
	color:#fff;
	-webkit-transition: all .5s ease-in-out;
	 -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	/*extras*/
	
}
.btn1:hover,.btn2:hover
{
	background:#5192d2;/*bc3232*/
	/*border:solid 1px #6ab5f1;*//*a02a2a*/
}
.btn2:hover
{
	/*background:#6ab5f1;bc3232*/
	/*border:solid 1px #5192d2;*//*a02a2a*/
}
.heading
{
	font-size:27px;
	text-transform:capitalise;
	margin:0 0 10px 0;
}
.tab_collapse_master
{
	margin-top:40px;
}
.tab_collapse_master .nav-tabs > li
{
	float:none;
	display:inline-block;
	transition: all 0.4s ease 0s;
}
.tab_collapse_master .nav-tabs > li:hover {
    transform: scale(1.1);
}
.tab_collapse_master .nav-tabs
{
	text-align:center;
	margin-bottom:30px;
}
.tab_collapse_master .tab-content > .tab-pane hr, .tab_collapse_master .panel-body hr
{
	margin:10px 0;
}

.ordr_list
{
	margin:0px;
	padding:0px 0 0 15px;
	list-style-type:square;
}

/*------------------End 21 March CSS-----------------*/

/*------------------Start 21 March CSS-----------------*/
.mrgn_none
{
	margin:0px;
}
.mrgn_btm20
{
	margin-bottom:20px !important;
}
.mrgn_btm30
{
	margin-bottom:30px !important;
}
.mrgn_tp_btm30
{
	margin-top:30px !important;
	margin-bottom:30px !important;
}
.tab_outer
{
	border:solid 1px #6ab5f1;
	padding:30px;
}

.tab_outer_line
{
	border-right:solid 1px #6ab5f1;
	/*min-height:210px;*/
	padding-right:30px;
}

.border_box
{
	border-right:solid 1px #6ab5f1;
	min-height:210px;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.tp_search_sec
{
	padding:0px 0 15px 0;
	background:#6ab5f1;
	color:#fff;
	margin:0 0 40px 0;
	font-size:18px;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*------------------End 21 March CSS-----------------*/

@media (min-width: 768px) and (max-width: 991px) {
	
	.tab_outer_line
	{
		border-right:none;
		min-height:100%;
	}
}

@media screen and (max-width: 767px) 
{
	.search_field
	{
		margin-bottom:10px;
	}
	.top_bar
	{
		background:url("../img/sky.jpg") no-repeat scroll center center / cover ;
	}
	.tab_collapse_master .panel-group
	{
		padding:0 15px;
	}
	.tab_outer
	{
		padding:0px;
		border:none;
	}
	.tab_outer_line
	{
		border-right:none;
		min-height:100%;
	}
}




/************* changes********************/

.pp_label {
	margin: 0;
	padding: 0;
  font-size: 16px;
}
.pp_text {
  padding: 8px;
  outline: 0;
  font-size: 16px;
  color: #999;
  border: 1px solid #999;
}
.Link_norac-a {
	width: 137px;
	display: block;
}
.imgcaptcha {
  width: 100%;
  height: 40px;
}
.refresh {
  float: right;
  position: relative;
  top: -28px;
  right: 8px;
  height: 18px;
  cursor: pointer;
}
.pn_label {
	margin: 0;
	padding: 0;
  font-size: 14px;
  cursor:pointer;
}
.achv_box_top{
	margin: 0;
	padding: 15px 15px 0;
}
.selectbox2 {
	padding: 0 10px;
  color: #acacac;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 0 !important;
}
.tp-relative {
  position: relative;
}
.tp-label {
	position: absolute;
	top: -18px;
	left: 120px;
  font-size: 14px;
}
.pp_button2{
	padding: 10px 20px;
}
.clear{
	clear: both;
}
.addon-custom {
  padding: 6px 12px;
  color: #fff;
  background-color: #5192d2;
  border: 1px solid #999;
  border-radius: 0;
}
.pp_textarea_height{
	height: 190px!important;
}
.rpw_left_company {
  width: 100%;
  height: 102px;
  margin-right: 15px;
  background: #6d6d6d;
}
.ps_textarea{
	height: 170px!important;
}
.akt{
	margin: 0;
	padding: 4px 0;
	height: 5px;
	display: block;
}



/*******22may********/
.links_js a {
  padding: 3px 10px;
}
.links_js a i {
  padding-left: 2px;
}

/******23may********/
.lgn_hrf{
	display: block;
	margin: 0;
	padding: 0 5px;
	color: #fff;
	font-size: 16px;
}
.lgn_hrf:hover{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.em_box_logo-a {
  width: 30%;
  height: 70px;
  background: url(../images/gray.png) center no-repeat #747474;
  float: left;
  position: relative;
}
.fify_without_paddoing, .fify_without_paddoing2  {
  border: 1px solid #5192d2;
}
.language_tog, .interest_tog{
	padding: 0 30px 20px 30px;
}
/**** 25may****/
.hpe1 {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  padding-left: 20px;
  background: #5192d2;
}
.skills_box .hear1 {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  padding-left: 20px;
  background: #5192d2;
}

/******26May******/
.mg-lt{
	margin-left: 20px;
}

/*****27May*****/
.bd-top{
	*border-top: 1px solid #a9a9a9;
	*padding-top: 10px;
}
.clear-padding{
	padding: 0;
}

.bd-rts{
	border-right: 1px solid #000;
}

.gcvp{
	position: absolute;
	top: -35px;
	right: -1px;
}
.gcvp-btn{
	font-size: 16px;
}
.pp_button_small:hover {
  color: #fff;
  text-decoration: none;
}
.myimg{
	position: relative;
	margin: 0 20px;
	background: #c2c2c2;
	width: 100px;
	height: 100px;
}
.myimg img{
	width: 100px;
	height: 100px;
	position: relative;
	
}
.myimg-edit{
	position: absolute;
	top: 0;
	right: 0px;
	height: 26px;
	font-size: 14px;
}
.myimg-edit:hover{
	color: #fff;
}

/******29*****/
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.g40{ width:39.5%; float:left;}
.g60{ width:59.5%; float:right;}

.bb_min{
	min-height: 280px;
}
.mi_tp{
	margin-top: 20px;
}
.plus-edit{
	right: 30px !important;
}
.my_edit_pencil {
  width: 23px;
  height: 23px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 0;
  background: url(../images/edit.png) no-repeat;
  margin-left: 10px;
}










.blue_border{ border:1px solid #5192d2; padding:10px;}
.pharagraph_padding_right p{ padding-right:10px;}
.border_out_heading{   font-family: 'latobold'; width:100%; height:auto; overflow:hidden; font-size:18px; color:#333; line-height:40px; margin-left:-15px; margin-right:-15px;}
.edit_pencil{ width:23px; height:23px; border:0; outline:0; cursor:pointer; font-size:0;background:url(../images/edit.png) no-repeat; margin-left:10px; position:relative; top:5px;}
.border_bottom_right_one{ border-bottom:1px solid #000; margin-bottom:50px;}





.paging {
  margin-top: 30px;
}
/* Pagination */
.cd-pagination {
	width: 100%;
	padding: 0;
	text-align: center;
}
.cd-pagination li {
	display: inline-block;
	margin: 0 2px;
}
.cd-pagination li.np-button {
	display: inline-block;
}
.cd-pagination a, .cd-pagination span {
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px 14px;
	font-size: 14px;
	font-family: 'Arial';
	text-decoration: none;
}
.cd-pagination a {
	color: #5192d2;
	border: 1px solid #5192d2;
	border-radius: 0;
}
.cd-pagination a:hover {
	background-color: #5192d2;
	color: #fff;
}
.cd-pagination a:active {
	/* click effect */
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.cd-pagination a.disabled {
	/* button disabled */
	color: rgba(46, 64, 87, 0.4);
	pointer-events: none;
}
.cd-pagination a.disabled::before, .cd-pagination a.disabled::after {
	opacity: .4;
}
.cd-pagination .current {
	/* selected number */
	background-color: #5192d2;
	border-color: #5192d2;
	color: #ffffff;
	pointer-events: none;
}
/******/



.btn-rd-cor{
  display: block;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  background-color: #5192d2;
  border-color: #5192d2;
  border-radius: 3px;
  padding: 5px 20px;
  line-height: 22px;
  font-size: 18px;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-rd-cor:hover,
.btn-rd-cor:focus {
  color: #fff;
  background-color: #6ab5f1;
  border-color: #6ab5f1;
}



.create_position_box{ width:100%; height:auto; overflow:hidden; border:1px solid #5192d2;}
.position_icon_box{ width:120px; height:auto; overflow:hidden; border-left:1px solid #5192d2; float:right;}
.position_icon_box ul{ margin:0; padding:0;}
.position_icon_box li{ list-style:none; width:100%; height:84px; padding-top:15px; border-bottom:1px solid #5192d2; text-align:center;}
.position_icon_box li:last-child{ border-bottom:0;}

.position_icon_box li i{ font-size:20px;}
.position_icon_box li a{ color:#000; text-decoration:none;}


.create_position_data{ float:left; width:520px; padding-left:20px; padding-bottom: 15px;}
.create_position_dataa{ width:400px;}
.create_position_data span{ display:block;}
.create_position_data h2{ font-size:22px; font-weight:bold;}
.nty{margin: 30px 0 0 10px;}
.pp_smallfont{font-size: 16px;}



.left_side_man{ width:140px; height:252px; background: url(../images/man_shortlist.png) center no-repeat #b9d3ed; float:left;}

.no_border{ outline:0; border:0;   width: 83px;}
.margin_bottom20{ margin-bottom:20px;}
.percent{ padding-right:20px; padding-top:70px; float:right;}
/******* Final *******/
.nav-tabs > li > a {
  font-size: 16px;
}
.mgb20{
	margin-bottom: 20px;
}
.media-body-head{
    font-family:'latobold';
	width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 27px;
  line-height: 38px;
  margin: 0 0 10px 0;
  text-transform: capitalize;
}
button.plusbox {
  width: 23px;
  height: 23px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: url(../images/plus.png) no-repeat;
  position: absolute;
  left: 0;
  z-index: 999;
}
.h4sub{
	font-size: 18px;
	text-transform: none;
}



@media screen and (max-width: 450px) {
	.g40{ width:100%; float:none; margin-top: 30px;}
	.g60{ width:100%; float:none;}
	.gcvp {
	  position: absolute;
	  top: -325px;
	  right: -1px;
	}
	.em_box {
	  margin-bottom: 10px;
	}
	.g50, .g50a {
	  width: 100%;
	  float: none;
	  margin-bottom: 10px;
	}
}
@media screen and (max-width: 550px) {
	.g40{ width:100%; float:none; margin-top: 30px;}
	.g60{ width:100%; float:none;}
	.gcvp {
	  position: absolute;
	  top: -325px;
	  right: -1px;
	}
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/*captcha*/
.realperson-challenge {
    
    padding-bottom: 3px;
    padding-top: 6px;
}

.realperson-text {
    background: none repeat scroll 0 0 #fff;
    font-family: "Courier New",monospace !important;
    font-size: 7px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 5px;
    text-align: center;
    width: 252px;
}
.realperson-regen {
    background: url("../img/refresh-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    font-size: 0;
    height: 31px;
    position: relative;
    right: 12px;
    top: -31px;
    width: 30px;
}


.errorMessage{
    color:9f1313
}

#login .errorMessage{
    margin-left: 5%;
}

.sucessMessage {
    color: #00aeef;
}


/* ********Myeducation page (Alignment issue in educational qualifications boxes)********* */

.educationHistory {
    line-height: 1.2;
}

.em_box_logo > img {
    height: 70px;
    width: 140px;
}

.em_box_logo-a img {
    height: 70px;
    width: 140px;
}

.errorTag {
    border: 1px solid red;
    background-color: #ffbaba;
}

.pp_text.ui-autocomplete-input {
     font-size: 16px;
      font-family: rockwell;
}

/* forgot password activation code*/
.login_box .realperson-challenge {
     background: #fff;
     margin-left: 5%;
     width: 252px;
}

.errorText {
    color: #7a0000;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 5px;
}
/* / my future / */

.vertical {
    position: relative;
    top: 25px;
}

.ui-datepicker-title {
    color: #000;
}

   .btn-file {
   
    overflow: hidden;
    position: relative;
    padding: 8px 35px 8px 35px;
    top: 35px;
    cursor:pointer;
   }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    @-moz-document url-prefix() { 
  .btn-file {
     top: 36px;
  }
}

/* Add/Edit activation code start*/

.addedit .form-control.input-md {
    border: 1px solid #999;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    font-size: 16px;
}
.addedit .form-group .row {
    padding-bottom: 0;
}
.addedit .login_headings h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}
.addedit .control-label {
    font-size: 16px;
    font-weight: normal;
     margin-bottom: 0;
}
.addedit .blue-panel {
    border: 1px solid #5192d2;
    margin-top: 30px;
}
.addedit .blue-panel-hpe h3 {
    background: #5192d2 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
}
.addedit .blue-panel-title {
	margin: 0;
}

.addedit .links_jss {
    line-height: 20px;
    padding: 0;
    width: auto;
}

.addedit .links_jss a {
    background: #7f7f7f none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 15px;
    margin: 5px 3px 5px 0;
    padding: 3px 10px;
}

.addedit  #btn-send {
    background-color: #5192d2;
    border-color: #5192d2;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 8px 20px;
    transition: background 1s ease 0s;
    width: 50%;
}
.addedit .links_bd {
    min-height: 70px;
}
 .addedit .bp-hpe {
    padding: 20px 30px;
}
.addedit .form-control:focus{
border-color: #66afe9;
box-shadow: 0 1px 1px rgba(0 ,0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
outline: 0 none;
}
/* .addedit .form-control.input-md {
    color: #999;
} */
/* Add/Edit activation code End*/

/* Admin client liason activation code start*/
.adminclient .pull-left {
    float: left !important;
}
.adminclient .pd-head {
    padding: 50px 0 20px;
}
.adminclient .tab_collapse_master {
    margin-top: 0;
}
.adminclient .sm_circle {
    background: #67b5f2 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
.adminclient .row {
    padding-bottom: 0;
}
.adminclient .sm_circle_center {
    display: block;
    padding-top: 25px;
}
.adminclient .sm_circle {
    color: #fff;
    text-align: center;
}
.adminclient .heading-title {
    margin-left: 20px;
}
.adminclient .heading-title h2{
	font-size: 28px;
}
.adminclient .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.adminclient .tab_collapse_master {
    margin-top: 0;
}
.adminclient .blue-panel {
    border: 1px solid #5192d2;
    margin-top: 30px;
}

.adminclient .blue-panel-heading {
    background: #67b5f2 none repeat scroll 0 0;
    padding: 15px;
}

.adminclient .blue-panel-title {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.adminclient .black_ico_box {
    margin: 15px 0;
}
.adminclient .black_ico {
    height: 80px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
.adminclient .notify_parent {
    position: relative;
}
.adminclient img {
    vertical-align: middle;
}
.adminclient .black_ico_text {
    /*padding-top: 10px;*/
    text-align: center;
    width: 100%;
}
.adminclient .carousel {
    position: relative;
}
.adminclient .carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.adminclient .carousel-inner > .active, .adminclient .carousel-inner > .adminclient .next, .adminclient .carousel-inner > .prev {
    display: block;
}
.adminclient .caro_circ {
    margin: 0 auto;
    padding: 20px 0;
    width: 90px;
}
.adminclient .caro_circ .crc {
    background: #5192d2 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-family: "rockwell";
    font-size: 45px;
    height: 120px;
    padding-top: 30px;
    text-align: center;
    width: 120px;
}
.adminclient .carousel-control.left, .adminclient .carousel-control.right {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    opacity: 1;
}
.adminclient .carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
}
.adminclient .carousel-control .glyphicon-chevron-left, .adminclient .carousel-control .glyphicon-chevron-right, .adminclient .carousel-control .icon-prev, .adminclient .carousel-control .icon-next {
    font-size: 30px;
    height: 30px;
    margin-top: -15px;
    width: 30px;
}
.adminclient .carousel-control .icon-prev, .adminclient .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.adminclient .carousel-control .icon-prev, .adminclient .carousel-control .icon-next, .adminclient .carousel-control .glyphicon-chevron-left, .adminclient .carousel-control .glyphicon-chevron-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.adminclient .glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}

.adminclient .carousel-control .caro_ctrl_black {
    color: #000;
}

.adminclient .carousel-control .glyphicon-chevron-right, .adminclient .carousel-control .icon-next {
    margin-right: -15px;
}
.adminclient .blc-title {
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.adminclient .blc-panel-heading {
    padding: 15px;
}
.adminclient .bd-min-right {
    border-right: 1px solid #5daeef;
    min-height: 372px;
}
.adminclient .notify {
    background: orange none repeat scroll 0 0;
    border-radius: 14px;
    color: #fff;
    font-size: 20px;
    height: 28px;
    position: absolute;
    right: -10px;
    top: -20px;
    width: 28px;
}
.adminclient .carousel-control.right {
    left: auto;
    right: 0;
}
.adminclient .tab_collapse_master .nav-tabs {
    margin-bottom: 30px;
    text-align: center;
}
.adminclient .nav-tabs > li > a {
/*     background: #6ab5f1 none repeat scroll 0 0; */
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.42857;
    margin-right: 2px;
    padding: 7px 20px;
}
.adminclient .col-md-15 {
    float: left;
    width: 20%;
}

/* ClientSupportUserManagement  activation code start */

.container.usermanag {
    width: 1150px;
}
.container.usermanag {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.usermanag .tlt-heading {
    color: #333;
    font-family: "rockwell";
    font-size: 18px;
    margin: 20px 0 0;
    text-align: center;
}

.usermanag .row {
    padding-bottom: 0;
}
.usermanag .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);
}
.usermanag .quickFilter {
    font-size: 18px;
    position: relative;
}
.usermanag .quickFilter label {
    color: #5daeef;
}
.usermanag .form-control.input-md{
    border: 1px solid #999;
    padding-bottom: 8px;
    height: auto;
    padding-top: 8px;
    text-align: left;
    font-size: 16px;
}
.usermanag .quickFilter  {
    color: #999;
 }
.usermanag .quickFilter label {
    color: #5daeef;
    left: 30px;
    position: absolute;
    top: 12px;
}
.usermanag .row.no-pad {
    margin-left: 0;
    margin-right: 0;
}
.usermanag .sortings {
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.usermanag .sort select {
    color: #000;
    cursor: pointer;
    font-family: "rockwell";
    font-size: 16px;
}
.usermanag .result-pop {
    font-size: 16px;
}
.usermanag .tbl_panel {
    border-bottom: 1px solid #5192d2;
    padding: 10px 0;
}
.usermanag .tbl-user,.usermanag .tbl-name, .usermanag .tbl-mo-button {
    color: #000;
    font-size: 16px;
    line-height: 34px;
}
.usermanag .sort select {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/arrowSeBlk.jpg") no-repeat scroll right center;
    border: 0 none;
    color: #000;
    cursor: pointer;
    font-family: "rockwell";
    font-size: 16px;
    margin: 0;
    outline: 0 none;
    width: 120px;
}
.usermanag .row.no-pad >  {
    padding-left: 0;
    padding-right: 0;
}
.usermanag .tbl_panel {
    border-bottom: 1px solid #5192d2;
    padding: 10px 0;
}
.usermanag .tbl-user, .usermanag .tbl-name, .usermanag .tbl-mo-button {
    color: #000;
    font-size: 16px;
    line-height: 42px;
}
.usermanag .btn.btn-rd-cor.suspendUser,.usermanag .btn.btn-rd-cor.editUser{
    background-color: #5192d2;
    border-color: #5192d2;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    padding: 5px 20px;
    transition: background 1s ease 0s;
    width: 100%;
}
.usermanag .mglft-rgt {
    margin-left: 10px;
    margin-right: 0;
}
.usermanag .tbl-sw-button {
    float: left;
    width: 42%;
}
.usermanag .btn.tbl-trash-button.deleteUser {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 28px;
    line-height: 22px;
    padding: 3px 13px;
}
.usermanag .form-control:focus{
border-color: #66afe9;
box-shadow: 0 1px 1px rgba(0 ,0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
outline: 0 none;
}

.usermanag .quickFilter input[type="text"] {
    color: #999;
    padding-left: 40px;
   
}

/* popup          */


.reasonPopup #form-contact label {
    color: #333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.reasonPopup .modal-title {
    line-height: 1.42857;
    margin: 0;
}
.reasonPopup .row{
	padding-bottom: 0;
}
.reasonPopup .selectbox {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/sele.jpg") no-repeat scroll right 16px center;
    border: 1px solid #999;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    text-align: left;
}

.reasonPopup .selectbox {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    font-family: arial;
}
.reasonPopup .btn-confirm {
    background-color: #5192d2;
    border-color: #5192d2;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 8px 20px;
    transition: background 1s ease 0s;
    width: 100%;
}
.reasonPopup .form-ctrl {
    border: 1px solid #999;
    color: #000;
    font-family: arial;
}
.reasonPopup .form-control:focus{
border-color: #66afe9;
box-shadow: 0 1px 1px rgba(0 ,0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
outline: 0 none;
}
 #myModalLabel{
    font-family: "arial";
    font-weight: normal;
    text-transform: capitalize;
    
}

/**


/* My Account Related added CSS */
.modal-body .em_box {
    border: medium none;
    height: 100%;
}

.modal-body .em_box .box_edit_logo
{
	height: 75px;
}
.modal-body .row
{
	padding-bottom: 0px;
}
.modal-body .em_box button
{
	  height: 12%;
	width: 100%;
	position: relative;
}

.modal-body .em_box_logo {
    width: 88%;
}

.modal-body .em_box_img {
    width: 100% !important;
    margin: 0;
}

.modal-body .errorText
{
padding-bottom: 10px;
    text-align: center;
}

.my_save_pencil {
    background: rgba(0, 0, 0, 0) url("../images/save.png") no-repeat scroll 0 0 !important;
}
/*Admin Page additional Styles Start Here*/


.links_jss a.blue_link{ background:#5192d2; text-decoration:none;}
.links_jss a:focus,.links_jss a:hover {
	text-decoration:none;
}
/*Admin Page additional Styles End Here*/


.deleteAlias.removeId {
    margin-right: 37px !important;
    margin-top: 0 !important;
    position: absolute;
    right: 65px;
}

/* SKill Management starts */
button.merge {
  width: 24px;
  height: 24px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: url("../images/mrg.png") no-repeat;
  position: absolute;
  right: 22px;
  top: 12px;
  left: inherit;
  z-index: 999;
}

button.remove {
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  cursor: pointer;
  outline: 0;
  background: #fff;
  position: absolute;
  right: 36px;
  bottom: -13px;
  left: inherit;
  z-index: 999;
}

button.skillDelete {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000;
    bottom: 23.46%;
    cursor: pointer;
    height: 24px;
    left: inherit;
    outline: 0 none;
    position: absolute;
    right: 77px;
    width: 24px;
    z-index: 999;
}
/* SKill Management ends */
.add_logo.logoName.myimg {
    margin: 0;
     background: #5192d2;
}

.add_logo.logoName.myimg  img
     {
     top: -30px;
     }
.tbl-mo-button.pad.pull-left {
    margin-left: 3px;
}

a.suspendClient img {
    width: 40px;
}
a.edit-icon img {
	width: 27px;
}

#uploadBtn1 {
        position: absolute;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
#form-contact legend {
    border: medium none;
}
/*     client Dashboard */
    .cldash span {
    font-size: 20px;
}

.remove .glyphicon.glyphicon-ok {
	top:0;
	right:2px;
}

/* client Dashboard Starts */
.nav-tabs > li > a {
    font-size: 16px;
}

/* client Dashboard ends */

 @-moz-document url-prefix() { 
  .edit_pencil_button .edit-save {
    top: -4px;
}

}
.ui-autocomplete {
    z-index: 1100 !important;
}

::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder.form-control,:-ms-input-placeholder.pp_text {
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

.form-control
{
	color: #000;
}

.nohover .text-center {
    text-align: center !important;
}
.headerComponent #login_drop div a {
    text-align: left;
}

.row.centerText {
    text-align: center;
}

.btn-sm, .btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 14px;
    line-height: 1;
    padding: 5px 10px;
}

.btn.btn-default.btn-sm.btn-small.dropdown-toggle {
    height: 26px;
}

.pull-right .btn.btn-edt.editAlias {
    bottom: 46px;
    position: absolute;
    right: 34px;
    padding: 4px 6px;
}
.pull-right .btn.btn-edt.addAlias {
    bottom: 46px;
    position: absolute;
    right: 34px;
    padding: 4px 6px;
}
.btn.btn-edt.pull-right.deleteAliasRow {
    position: relative;
    right: 0;
}

.pull-right .btn.btn-edt {
    position: relative;
    right: 36px;
}
.btn.btn-edt.deleteAlias.removeId {
    position: relative;
    right: 0;
}
.sort .result-pop {
    font-weight: bolder;
    }
.sort.col-md-10 {
    text-align: center;
   }
.note-para.btn-group.open .dropdown-menu {
    width: 228px;
    margin-left: -36px;
}
.non-active {
   pointer-events: none;
   cursor: default;
    opacity: 0.4;
}
.black_ico {
    height: 80px;
}
#uploadBtn1-error {
    font-size: 12px;
    font-weight: normal;
    margin-top: -138px;
    width: 75px;
}

#Emp_hist_Modal .modal-dialog {
    height: 325px;
    margin: 30px auto;
    width: 600px;
}

.sm_circle_center img {
    border-radius: 50%;
    height: 100px;
    vertical-align: middle;
    margin-top: -25px;
}

.row.row_padding_right_elementd .editorr {
    height: 285px;
}
.row.row_padding_right_elementd .editorr .note-editor .note-editable{
    height: 268px !important;
}
.row.row_padding_right_elementd .editorr .btn-group{
    margin-left: 9px;
    margin-right: 5px;
    margin-top: 5px;
}

.row.row_padding_right_elementd .editorr .note-para.btn-group.open .dropdown-menu {
    width: 252px;
    margin-left: 18px;
}
.row.row_padding_right_elementd .editorr .note-editor{
    margin-left: -5px;
    width: 355px;
}

.black_ico_box.no-mar {
 margin:0;
}

.black_ico_box.no-pad-bottom {
 padding-bottom:0;
}

.pad-10 {
    height: 35px;
}