<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
tr {
	height: 10px;
}
</style>
</head>
<body>

    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2" style="padding-bottom: 20px">

        <tbody>
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center"
                        style="max-width: 674px; font-family: Arial; font-size: 9.0pt;">
                        <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td style='padding-left: 20px;'></td>
                                <td><img style='width: 700px;' th:src="@{${headerImageSrc}}"></img></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            <tr>

                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <span style="color: #727272; font-size: 14px"><span><span th:text="${date}"> </span></span></span>
                                    </p></td>
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td></td>
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        Hi <span th:text="${candidateName}"> </span>
                                    </p></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>You are receiving this email as part of the account creation process for getting you connected
                                        to the NewPosition direct recruitment platform. We require you to activate your account by
                                        confirming your email address. Either click on the link below to automatically activate your account
                                    </p></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                       The <a th:href="@{(${directActivationLink})}">Activation Link </a><br></br> 
                                    </p></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            
                            
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>NewPosition is the only Direct recruitment site which allows you to take control of finding
                                        your next role. By becoming part of the NewPosition community, you get your CV automatically in
                                        front of the leading Global financial companies.</p></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>