<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
     
<p> Hi  <span th:text="${candidateName}"> </span> </p> <br></br>
Your Account detials has been changed
<!-- <p>You are receiving this email as part of the registration process for getting you connected to the NewPosition direct recruitment platform. We require you to activate your account by confirming your email address. Either click on the link below or visit  -->
<!-- <p><a href="@{(${activationPageLink})}">Activation Link </a></p> and paste in the activation code supplied. -->
<!-- </p> -->
<!-- click to activate  -->
<!-- <a th:href="@{(${loginPageLink})}">Activate your account</a> -->



<!-- <p>NewPosition is the only Direct recruitment site which allows you to take control of finding your next role. By becoming part of the NewPosition community, you get your CV automatically in front of the leading Global financial companies.</p> -->

<!-- <p>The next step is to complete the registration process, and let us know what you'd like your next Job to be.</p> -->

<br></br>
   
  </body>
</html>