<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2" style="padding-bottom: 20px">

        <tbody>
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center"
                        style="max-width: 674px; font-family: Arial; font-size: 9.0pt;">
                        <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                       <strong> Hi ,</strong>
                                    </p></td>
                            </tr>
                           <tr >
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <strong>FirstName: <span th:text="${firstName}"> </span></strong> , 
                                    </p></td>
                            </tr>
                            <tr >
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <strong>LastName: <span th:text="${lastName}"> </span></strong> , 
                                    </p></td>
                            </tr>
                            <tr >
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <strong>ReasonForEnquiry: <span th:text="${reasonForEnquiry}"> </span></strong> , 
                                    </p></td>
                            </tr>
                            <tr >
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <strong>Company: <span th:text="${company}"> </span></strong> , 
                                    </p></td>
                            </tr>
                            <tr >
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <strong>Enquiry: <span th:text="${enquiry}"> </span></strong> , 
                                    </p></td>
                            </tr>
                            <tr >
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <strong>EmailAddress: <span th:text="${emailAddress}"> </span></strong>  
                                    </p></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>