<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<li th:text="#{firstName}"></li>
	<li>http://10.0.0.42:8080/newposition/Success</li>
</body>
</html>