<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
tr {
	height: 10px;
}
</style>
</head>
<body>

    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2" style="padding-bottom: 20px">

        <tbody>
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center"
                        style="max-width: 674px; font-family: Arial; font-size: 12px;">
                        <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td style='padding-left: 20px;'></td>
                                <td><img style='width: 700px;' th:src="@{${headerImageSrc}}"></img></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            <tr>

                                <td bgcolor="#e9e9e9" height="1"></td>

                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>
                                        <span style="color: #727272; font-size: 14px"><span><span th:text="${date}"> </span></span></span>
                                    </p></td>
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td></td>
                            </tr>
                            <tr style='height: 10px;'>
                               
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p>Your activation code is <span style='font-size:14.0px;font-family:"Arial",sans-serif' th:text="${activationCode}"> </span>  supplied. 
                                    </p></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            <tr style='height: 10px;'>
                                <td style='padding-left: 20px;'></td>
                                <td><p> Please visit this link below to enter the activation code 
                                    </p>The <a th:href="@{(${activationPageLink})}">Activation Link</a></td>
                                <td style='padding-right: 20px;'></td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>