<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
tr {
height:10px;
}
</style>
  </head>
  <body>

<!-- <p> Hi  <span th:text="${firstName}"> </span> &nbsp; <span th:text="${surName}"> </span> </p> <br></br>

<span th:text="${candidateName}"> </span> has just updated their career history on newposition.careers, the worlds first end to end direct recruitment platform.

<p><span th:text="${candidateName}"> </span> has asked if you could review his history for the period you've known him, and give us your honest opinion on his careers during this period.</p>


<p>  <span th:text="${candidateName}"> </span> has added the following personal comments below</p>

<p><span th:text="${personalStatement}"></span></p>

<p>Simply login or register with NewPosition.careers to review the Reference and complete the simple form. This should take no more than 5 minutes.</p>

<p>Thank you on behalf of <span th:text="${candidateName}"> </span>  and the NewPosition team.</p>

<p><a href="#">Click here </a> to supply reference.</p><br></br>
   
  -->  
   <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2" style="padding-bottom:20px">
      
      <tbody>
      <tr>
      <td>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center" style="max-width:674px;font-family:Arial;font-size:12px;">
        <tbody>
            <tr>

                <td height="10" colspan="3"></td>

            </tr>
            <tr>
            <td style='padding-left:20px;'></td>
                <td colspan="3">
                   <a href="#" target="_blank"><img style='width:700px;' th:src="@{${headerImageSrc}}"></img></a>
               </td>
               <td style='padding-right: 20px;'></td>

            </tr>
            <tr>
                    <td height="20"></td>
            </tr>
            <tr bgcolor="#e9e9e9" height="1">
                    
<!--                     <td bgcolor="#e9e9e9" height="1"></td> -->

            </tr>
            <tr>
            <td style='padding-left:20px;'></td>
            
             <td> <span style="color:#727272;font-size:14px"><span><span th:text="${date}"> </span></span></span></td>
            </tr>
             <tr>
            <td style='padding-left:20px;'></td>
            
             <td><p> <strong> Hi  <span th:text="${firstName}"> </span> &nbsp; <span th:text="${surName}"> </span> </strong> </p></td>
             <td style='padding-right: 20px;'></td>
            </tr>
            <tr>
                <td style='width:20px'></td>
                <td><p><span th:text="${candidateName}"> </span> has just updated their career history on newposition.careers, the worlds first end to end direct recruitment platform.</p></td>
                <td style='padding-right: 20px;'></td>
            </tr>
            <tr>
            <td style='padding-left:20px;'></td>
            <td><p><span th:text="${candidateName}"> </span> has asked if you could review his history for the period you've known him, and give us your honest opinion on his careers during this period.</p></td>
            <td style='padding-right: 20px;'></td>
            </tr>
            <tr>
            <td style='padding-left:20px;'></td>
            <td><p><span th:text="${candidateName}"> </span> has added the following personal comments below </p><br></br>
            <p><span th:text="${personalStatement}"></span></p></td>
            <td style='padding-right: 20px;'></td>
            </tr>
            <tr>
            <td style='padding-left:20px;'></td>
            <td><p>Simply <a th:href="@{(${loginPageLink})}">login</a> or <a th:href="@{(${supplyReferenceLink})}">register</a> with NewPosition.careers to review the Reference and complete the simple form. This should take no more than 5 minutes.</p></td>
            <td style='padding-right: 20px;'></td>
            </tr>
            <tr>
            <td style='padding-left:20px;'></td>
            <td><p>Thank you on behalf of <span th:text="${candidateName}"> </span> and the NewPosition team.</p></td>
            <td style='padding-right: 20px;'></td>
            </tr>
            <tr> 
            <td style='padding-left:20px;'></td>
            	<td><p><a th:href="@{(${supplyReferenceLink})}">Click here </a> to supply reference.</p></td>
            	<td style='padding-right: 20px;'></td>
            </tr>
            <tr>
            
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            </tbody>
            </table>
   
  </body>
</html>