<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Activation email</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">
tr {
	height: 10px;
}
</style>
</head>
<body>

	<table width="100%" cellspacing="0" cellpadding="0" border="0"
		bgcolor="#f2f2f2" style="padding-bottom: 20px">

		<tbody>
			<tr>
				<td>
					<table width="100%" cellspacing="0" cellpadding="0" border="0"
						bgcolor="#fff" align="center"
						style="max-width: 674px; font-family: Arial; font-size: 12px;">
						<tbody>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td style='padding-left: 20px;'></td>
								<td><img style='width: 700px;'
									th:src="@{${headerImageSrc}}"></img></td>
								<td style='padding-right: 20px;'></td>

							</tr>
							<tr>

								<td bgcolor="#e9e9e9" height="1"></td>

							</tr>
							<tr style='height: 10px;'>
								<td style='padding-left: 20px;'></td>
								<td><p>
										<span style="color: #727272; font-size: 12px"><span
											th:text="${date}"> </span></span>
									</p></td>
							</tr>
							<tr>
								<td style='padding-left: 20px;'></td>
								<td>
									<p>
										<strong>Hi <span th:text="${candidateName}"> </span>,
										</strong>
									</p>
								</td>

							</tr>
							<tr>
								<td style='padding-left: 20px;'></td>
								<td><p> your account has been locked due to cross the maximum attempt.</p></td>
								<td style='padding-right: 20px;'></td>
							</tr>
							<tr>
								<td style='padding-left: 20px;'></td>
								<td><p>
										If it turns out you have forgotten your password details, then
										please go to the <a th:href="@{(${loginPageLink})}">newposition.careers</a>
										website <br></br> and click on the forgotten Password link
										from the dropdown menu at the top of the page.
									</p></td>
								<td style='padding-right: 20px;'></td>
							</tr>
							<tr></tr>
							<tr>
								<td style='padding-left: 20px;'></td>
								<td>We look forward to helping you with your Career.</td>
								<td style='padding-right: 20px;'></td>
							</tr>
							<tr>
								<td style='padding-left: 20px;'></td>
								<td>
									<p>Regards,</p>
									<p>
										<em>NewPosition Registration team.</em>
									</p>
								</td>
								<td style='padding-right: 20px;'></td>

							</tr>
						</tbody>

					</table>
				</td>
			</tr>
		</tbody>
	</table>


</body>
</html>


