@font-face {
    font-family: 'rockwell';
    src: url('fonts/rockwell.eot');
    src: url('fonts/rockwell.eot') format('embedded-opentype'),
         url('fonts/rockwell.woff2') format('woff2'),
         url('fonts/rockwell.woff') format('woff'),
         url('fonts/rockwell.ttf') format('truetype'),
         url('fonts/rockwell.svg#rockwell') format('svg');
}
@font-face {
	font-family: 'oswald';
	src: url('fonts/Oswald-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	font-family:'rockwell';
}
header {
	width: 100%;
	height: auto;
	background: url(../images/sky.jpg) no-repeat;
}
h1, h2, h3, h4, h5, h6 {
 font-family:'rockwell';
 font-weight:normal;
 text-transform: capitalize; 
}
p {
 font-family:'rockwell';
 margin: 0;
 padding: 0;
}
a {
	font-family:'rockwell';
 	margin: 0;
 	padding: 0;
 	color: #5daeef;
}
footer {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 35px;
	background:#b9d3ed;
	margin-top: 50px;
	padding-top: 25px;
}
footer .coloum {
	width: 260px;
	padding-right: 20px;
	float: left;
}
footer ul {
	margin: 0;
	padding: 0;
}
footer li {
	list-style: none;
	padding-bottom: 10px;
}
footer li a {
	text-decoration: none;
	color: #2176d0;
	font-size: 16px;
	font-family: 'rockwell';
}
footer li a:hover{ text-decoration:underline; color:#23527c;}
footer h3 {
	font-size: 18px;
	font-family: 'rockwell';
	color: #2176d0;
	border-bottom: 2px solid #2176d0;
	padding-bottom: 10px;
}
.rows:before, .rows:after {
	clear: both;
  	content: " ";
  	display: table;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  min-height: 1px;}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}

.fl{float: left;}
.fr{float: right;}
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.align-center{ margin: 0 auto; width: 100%; min-width: 1px; }
.pBold{ font-size: 22px; font-weight: bold;}

#down_footer {
	width: 100%;
	height: 50px;
	background: #5192d2;
}
.container {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.wraper {
	width: 1120px;
	margin: auto;
}
.wraperMid {
	width: 800px;
	margin: auto;
}
.back_to_top {
	float: right;
	font-size: 16px;
	font-family: 'rockwell';
	color: #fff;
	padding-top: 18px;
	cursor: pointer;
}

.left_links {
	float: left;
	font-size: 16px;
	font-family: 'rockwell';
	color: #fff;
	padding-top: 18px;
}
input[type=text] {
	padding: 8px;
	border: 0;
	width: 94.5%;
	outline: 0;
	font-size: 18px;
	font-family: 'rockwell';
	text-align: center;
	color: #999;
}
input[type=password] {
	padding: 8px;
	border: 0;
	width: 94.5%;
	outline: 0;
	font-size: 18px;
	font-family: 'rockwell';
	text-align: center;
	color: #5daeef;
}
select {
	padding: 8px;
	border: 0;
	width: 94.5%;
	height: 39px;
	outline: 0;
	font-size: 18px;
	font-family: 'rockwell';
	text-align: center;
	color: #5daeef;
	background: none;
  	border: 1px solid #999;
}
select option {
	border:none;
}
textarea {
	padding: 8px;
	border: 0;
	width: 94.5%;
	outline: 0;
	font-size: 18px;
	font-family: 'rockwell';
	text-align: center;
	color: #999;
}
input[type=button] {
	padding: 6px 10px;
	border: 0;
	width: 100%;
	border-radius: 3px;
	outline: 0;
	cursor: pointer;
	font-size: 18px;
	font-family: 'rockwell';
	color: #fff;
	background: #5192d2;
	border: 1px solid #5192d2;
		-webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
	transition: background 1s;
}
button{
	padding: 6px 10px;
	border: 0;
	width: 177px; margin-left:4px;
	border-radius: 3px;
	outline: 0;
	cursor: pointer;
	font-size: 18px;
	font-family: 'rockwell';
	color: #fff;
	background: #5192d2;
	border: 1px solid #5192d2;
		-webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
	transition: background 1s;
}
input[type=button] {
	padding: 6px 10px;
	border: 0;
	width: 100%;
	border-radius: 3px;
	outline: 0;
	cursor: pointer;
	font-size: 18px;
	font-family: 'rockwell';
	color: #fff;
	background: #5192d2;
	border: 1px solid #5192d2;
		-webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
	transition: background 1s;
}
input[type=button]:hover {
	background: #67b5f2;
	-webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
	transition: background 1s;
}
input[type=button].unfilled {
	background: none;
	border: 1px solid #5192d2; text-transform:capitalize;
}
input[type=button].unfilled:hover{background: #5192d2;}
.header_logo {
	width: 100%;
	height: 110px;
}
.search {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5px 0 15px;
	display: none;
	position:relative;
}
.search input[type=text] {
	width: 98%; text-align:left;
}
.search .fa-search {
  position: absolute;
  font-size: 24px;
  top: 10px;
  right: 15px;
  color: #67b5f2;
}
.logo {
	float: left;
	padding: 10px 0;
}
.menu {
	float: right;
	padding-top: 60px;
	width: 500px;
	height: 30px;
}
.menu ul {
	margin: 0;
	padding: 0;
	float: right;
}
.menu li {
	float: left;
	list-style: none;
	position: relative;
	padding-left:13px;
}

.menu li img{ padding-left:5px; position:relative; top:10px;}
.menu li a {
	font-size: 20px;
	font-family: 'rockwell';
	color: #fff;
	text-decoration: none;
	padding-left: 15px;
}
.menu li i {
	padding-right: 5px;
}
.menu li div.menu_container {
	position: absolute;
	top: 50px;
	left: 0;
	width: 220px;
	padding: 25px;
	height: auto;
	overflow: hidden;
	background: #67b5f2;
	display: none;
	z-index: 1;
}
.menu li:last-child .menu_container{ left:-100px;}
.menu_container input[type=text] {
	width: 90.5%;
}
.menu_container input[type=button] {
	padding: 6px 10px;
	font-size: 18px;
}
.menu_container ul {
	float: left;
	width: 100%;
}
.menu_container ul li {
	float: none;
	width: 100%;
	border-bottom: 1px solid #5192d2;
	padding: 10px 0;
}
.menu_container ul li:hover{ background:#5192d2;}
.menu_container ul li a {
	padding-left: 0;  font-size:16px; padding-left:10px;
}
.social_links i {
}
.social_links a{ width:30px; height:28px; padding-top:2px; display:inline-block; background:#fff; border-radius:50%; text-align:center;   font-size: 20px;   margin-right: 10px;}
.short_menu{ padding-left:30px; float:left; padding-top:75px;}
.short_menu ul {
	margin: 0;
	padding: 0;
	float: right;
}
.short_menu li {
	float: left;
	list-style: none;
	position: relative;
}
.short_menu li a {
	font-size: 20px;
	font-family: 'rockwell';
	color: #fff;
	text-decoration: none;
	padding-left: 25px;
}
.imgcaptcha{
	width: 100%; 
	height: 40px;   
}

.refresh{
	float: right;
	position: relative;
	top: -32px;
	right: 8px;
	height: 18px;
	cursor: pointer;
}
.Ftbttn {
	margin: 20px auto;
	width: 50%;
	display: block;
}
input[type=radio] {
    display: none;
}
/* ---- Accordian -----*/
.accordion-container {
  width: 100%;
  margin: 0 0 20px;
  clear: both;
}
.accordion-toggle {
  position: relative;
  display: block;
  padding: 20px;
  font-size: 1.2em;
  background: #5192d2;
  color: #fff;
  text-decoration: none;
}
.accordion-toggle span.toggle-icon {
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 1.2em;
}
.accordion-content {
  display: none;
  padding: 20px;
  overflow: auto;
  border: 1px solid #5192d2;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links {text-align: center; border-bottom: 1px solid #5192d2;}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 2px;
    list-style:none;
    display: inline-block;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    background:#67b5f2;
    font-size:16px;
    color:#fff;
    text-decoration: none;
    -webkit-transition: all linear .5s;
  	-moz-transition: all linear .5s;
  	-o-transition: all linear .5s;
    transition:all linear 0.15s;


}

.tab-links a:hover {
    background:#5192d2;
    text-decoration:none;
    -webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-0-transform:scale(1.1);
	transform:scale(1.1);
}

li.active a, li.active a:hover {
    background:#5192d2;
    color:#fff;
}
/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}
/*-- Circular -- */
.circliful {
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}

.selectboxs{ text-align:left;-webkit-appearance: none;  -moz-appearance: none; color:#acacac; padding:6px; height:40px; width:100%; cursor:pointer; background:url(../images/sele.jpg) center right no-repeat;}

/*---- Modal ----*/
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
#small-dialog {
  background: white;
  padding: 20px 80px;
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}
.small-dialog {
  background: white;
  padding: 20px 80px;
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}
.full-dialog {
  background: white;
  padding: 20px;
  text-align: left;
  max-width: 90%;
  margin: 40px auto;
  position: relative;
}
/**
* Fade-move animation for second dialog */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
opacity: 1;
-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
opacity: 0;

-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
opacity: 0;

-webkit-transition: opacity 0.3s ease-out; 
-moz-transition: opacity 0.3s ease-out; 
-o-transition: opacity 0.3s ease-out; 
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
opacity: 0;
}

