@media screen and (max-width:767px) {
	header{ display:block;}
	.wraper{ width:auto; padding:0 10px;}	
	footer .coloum{ width:auto; float:none;}
	.heading span.right{ display:none;}
	#basic_dashboard .head_filled{ height:auto; overflow:hidden; padding-bottom:20px;}
	#basic_dashboard .refrence_text{ float:none; text-align:center; font-size:22px; padding-bottom:10px;}
	#basic_dashboard .refrence { float:none; margin:auto;}
	
	#basic_dashboard .part{ height:auto; overflow:hidden; padding:20px 0;}
#basic_dashboard .circle_main{ float:none; margin:auto; width:300px; margin:auto; padding-bottom:20px; height:auto; overflow:hidden; margin:auto;}
#basic_dashboard .circle_part{ width:100%; height:auto; overflow:hidden; }
#basic_dashboard .circle_partoo{  border-bottom:1px solid #666; padding-bottom:15px; float:none; width:auto;}
	

	/*-------vineet------*/
	.menu-toggle {display: block;}
	.short_menu {display: none;}
	.short_menu {float:none; padding: 0; width: 100%; height:auto; overflow:hidden;}
	.short_menu ul {float: none;}
	.short_menu li { float: none;padding: 10px 0; background: #5192d2; border-bottom: 1px solid #b9d3ed;}
	.menu {display: none;}
	.menu {float:none; padding: 0; width: 100%; height:auto; overflow:hidden;}
	.menu ul {float: none;}
	.menu li { float: none;padding-bottom: 10px; background: #5192d2; border-bottom: 1px solid #b9d3ed;}


	#basic_dashboard .not_main{ height:auto; overflow:hidden;}
	#basic_dashboard .not_box{ float:none; margin-bottom: 20px; width: 100%; height:auto; overflow:hidden;}
	#basic_dashboard .quick_box{ float:none; width: 100%; height:auto; overflow:hidden;}
	#basic_dashboard .not_head{ text-align: center;}
	#basic_dashboard .quick_main{ margin: 0; padding: 25px 0;}
	#basic_dashboard .box2{ margin: 0 auto; width: 90%;}
	#basic_dashboard .box{ float: none; margin: 0 auto 20px auto; width: 90%;}
}
/*
@media screen and (max-width:450px) {
	#login{ width:auto;}
}
@media screen and (max-width:550px) {
#basic_dashboard .refrence_text{ font-size:17px;}
#basic_dashboard .not_box{ width:auto; float:none;}
#basic_dashboard .quick_main{ margin:auto;}

}
*/

